@page
@model EarthNear1.Pages.Admin.AdminHubModel
@{
}

<h1>AdminHub</h1>

<form method="post">
    <div class="form-group">
        <button asp-page-handler="CreateUser" class="alert-info" style="padding: 14px 28px; width:33.3%; float: left">Nyt medlem</button>
    </div>
    <div class="form-group">
        <button asp-page-handler="CreateShift" class="alert-info" style="padding: 14px 28px; width:33.3%; float: left">Ny vagt</button>
    </div>

    <div class="form-group">
        <button asp-page-handler="AllUsers" class="alert-info" style="padding: 14px 28px; width:33.3%; float: left">List af medlemmer</button>
    </div>
    <div class="form-group">
        <button asp-page-handler="AllShifts" class="alert-info" style="padding: 14px 28px; width:33.3%; float: left">Vagtliste</button>
    </div>

    <div class="form-group">
        <button asp-page-handler="AllShiftUsers" class="alert-info" style="padding: 14px 28px; width:33.3%; float: left">Jobtyper</button>
    </div>
    <div class="form-group">
        <button asp-page-handler="CreateShiftUsers" class="alert-info" style="padding: 14px 28px; width:33.3%; float: left">Lave jobtyper</button>
    </div>
</form>