@page
@model EarthNear1.Pages.Types.ShiftTypes.CreateShiftTypeModel
@{
    ViewData["Title"] = "CreateShiftType";
}
<h1>Lav Vagttype</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.ShiftType.ShiftName" class="control-label">Vagttypens navn</label>
        <input asp-for="@Model.ShiftType.ShiftName" class="form-control"/>
        <span asp-validation-for="@Model.ShiftType.ShiftName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Indsæt vagttype" class="btn btn-primary" />
        <a asp-page="GetAllShiftTypes" class="btn btn-primary">Gå tilbage</a>
    </div>
</form>
