@page
@inject LogInService logInService
@using EarthNear1.Services
@model EarthNear1.Pages.Types.ShiftTypes.GetAllShiftTypesModel
@{
    ViewData["Title"] = "GetAllShiftTypes";
}

<h1>Vagttyper</h1>
<p>

    @if (logInService.GetLoggedUser() != null)
    {
        @if (logInService.GetLoggedUser().Admin)
        {
            <a asp-page="/Types/ShiftTypes/CreateShiftType" class="btn btn-primary"><strong>Ny vagttype+</strong></a>
        }
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Type
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ShiftTypes.Count() != 0)
        {
            @foreach (var item in Model.ShiftTypes)
            {
                <tr>
                    <td>
                        @item.ShiftName
                    </td>
                    <td>
                        <a asp-page="/Types/ShiftTypes/UpdateShiftType" asp-route-id="@item.ShiftTypeId" class="btn btn-primary"><strong>opdater</strong></a>
                        <a asp-page="/Types/ShiftTypes/DeleteShiftType" asp-route-id="@item.ShiftTypeId" class="btn btn-danger"><strong>Slet type</strong></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
