@page
@model EarthNear1.Pages.Shifts.DeleteShiftModel
@{
    ViewData["Title"] = "DeleteShift";
}

<div>
    <dl class="row">
        <dt class="col-sm-4">
            Dato
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shift.Date)
        </dd>
        <dt class="col-sm-4">
            Vagt fra:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shift.TimeFrom)
        </dd>
        <dt class="col-sm-4">
            Vagt Til
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shift.TimeTo)
        </dd>
        <dt class="col-sm-4">
            Vagttype
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shift.ShiftTypeId)
        </dd>

    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Shift.ShiftId"/>
        <input type="submit" value="Slet" class="btn btn-danger"/>
        <a asp-page="GetAllShifts" class="btn btn-primary"><strong>Tilbage til vagtliste</strong></a>
    </form>
</div>