@page
@model EarthNear1.Pages.Book.DeleteBookingModel
@{
    ViewData["Title"] = "DeleteBooking";
}
<h1 class="text-danger">Er du sikker på du vil slette denne booking</h1>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            vagt
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model=> model.Booking.ShiftId)
        </dd>
        
        <dt class="col-sm-2">
            Medlem
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model=> model.Booking.UserId)
        </dd>
    </dl>
    <form method="post">
        <input type="hidden" asp-for="Booking.BookingId"/>
        <input type="submit" class="btn btn-danger" value="Slet"/>
        <a asp-page="GetAllBookings" class="btn btn-primary"><strong>Tilabge til bookingliste</strong></a>
    </form>
</div>
